packages/node-red/.flows.json.backup
[{"id":"8a4768136a67dcb2","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"854a6361aed92d52","type":"google-cloud-config","name":"Google Cloud"},{"id":"ad4f48e4ed06adfc","type":"kyuda-config","name":"Hello","apiKey":"123"},{"id":"fa7fa2a21f59d6ab","type":"debug","z":"8a4768136a67dcb2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":360,"wires":[]},{"id":"d90faaeb8841e62b","type":"http request","z":"8a4768136a67dcb2","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"https://3d9505de-742f-4dad-bd33-d2fba2ee0bc2.m.kyuda.io","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":570,"y":360,"wires":[["fa7fa2a21f59d6ab","65f99c66f69ff443"]]},{"id":"b8dbb0dde5870ba7","type":"inject","z":"8a4768136a67dcb2","name":"","props":[{"p":"payload.query","v":"Elon Musk is","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":360,"wires":[["be9c3d6bb72422b2"]]},{"id":"be9c3d6bb72422b2","type":"function","z":"8a4768136a67dcb2","name":"","func":"msg.payload= { query: \"Elon Musk is\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":360,"wires":[["d90faaeb8841e62b"]]},{"id":"65f99c66f69ff443","type":"delay","z":"8a4768136a67dcb2","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":460,"wires":[["be9c3d6bb72422b2"]]}]